﻿
@{
    ViewData["Title"] = "Feed";
}

    <html lang="en" data-reactroot="">
    <head>
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta charset="utf-8">
        <title>Dashboard UI Kit 3.0 Demo &amp; Docs</title>
        <meta content="Demo previews and React documentation for the best selling Dashboard UI Kit" name="description">
        <meta content="Dashboard UI Kit 3.0 Demo &amp; Docs" property="og:title">
        <meta content="website" property="og:type">
        <meta content="http://preview.janlosert.com" property="og:url">
        <meta content="http://preview.janlosert.com/OGDocumentation.jpg" property="og:image">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <meta content="Demo previews and React documentation for the best selling Dashboard UI Kit"
              property="og:description">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link href="~/static/css/client.8f79360d.css" rel="stylesheet">
        <link async="" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    </head>
    <body>
        <div id="app" class="container">
            <div id="root">
                <div class="uik-App__app">
                            <div class="uik-socialio__content">
                                <div class="uik-container-h__wrapper uik-social-home__page">
                                    <div class="uik-scroll__wrapper uik-social-home__mainContent">
                                        <div class="uik-widget__wrapper uik-widget__margin">
                                            <div class="uik-social-post-create__btns"></div>
                                            <div class="uik-divider__horizontal"></div>
                                            <div class="uik-social-post-create__message">
                                                <div class="uik-avatar__wrapper">
                                                    <div class="uik-avatar__avatarWrapper">
                                                        <img class="uik-avatar__avatar" v-bind:src="product.users[0].profile_picture">
                                                    </div>
                                                </div>
                                                <textarea placeholder="Whats on your mind?"
                                                          rows="2"></textarea>
                                            </div>
                                            <div class="uik-social-post-create__footer">
                                                <button class="uik-btn__base uik-btn__hasIcon
                        uik-btn__transparent" type="button">
                                                    <span class="uik-btn__iconWrapper">
                                                        <i class="uikon
                        uik-social-post-create__iconPhoto">check</i>
                                                    </span><span class="uik-btn__content">Post</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="uik-widget__wrapper uik-social-post-post__wrapper uik-widget__margin"
                                             v-for="post in posts">
                                            <div class="uik-social-post-header__wrapper">
                                                <div class="uik-avatar__wrapper uik-social-post-header__avatar">
                                                    <div class="uik-avatar__avatarWrapper">
                                                        <img alt="" class="uik-avatar__avatar"
                                                             v-bind:src="post.userProfileAvatar">
                                                    </div>
                                                    <div class="uik-avatar__info">
                                                        <div class="uik-avatar__name">
                                                            <span class="uik-social-post-header__nameText">
                                                                <a href="/social/profile"><strong>{{post.userFullName}}</strong></a>
                                                            </span>
                                                        </div>
                                                        <div class="uik-avatar__textBottom">December 28, 2018</div>
                                                    </div>
                                                </div>
                                                <div style="position:relative;display:inline-block">
                                                    <button class="uik-btn__base uik-btn__clear
                          uik-btn__hasIcon uik-btn__iconOnly" type="button">
                                                        <span class="uik-btn__iconWrapper">
                                                            <i class="uikon">more</i>
                                                        </span><span class="uik-btn__content"></span>
                                                    </button>
                                                </div>
                                            </div>
                                            <p>
                                                {{post.postContent}}
                                            </p>
                                            <div class="uik-divider__horizontal"></div>
                                            <div class="uik-social-post-actions__btns">
                                                <button class="uik-btn__base uik-btn__hasIcon
                        uik-btn__transparent" type="button">
                                                    <span class="uik-btn__iconWrapper">
                                                        <i class="uikon">love</i>
                                                    </span><span class="uik-btn__content">Like</span>
                                                </button><button class="uik-btn__base uik-btn__hasIcon uik-btn__transparent" type="button">
                                                    <span class="uik-btn__iconWrapper"><i class="uikon">message_2</i></span><span class="uik-btn__content">Comment</span>
                                                </button>
                                            </div>
                                            <div class="uik-divider__horizontal"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- <div class="uik-nav-panel__wrapper uik-nav-panel__positionRight">
                            <section class="uik-nav-section__wrapper">
                                <span class="uik-nav-section-title__wrapper">Your Pages</span>

                            </section>
                            <section class="uik-nav-section__wrapper">
                                <span class="uik-nav-section-title__wrapper">Contacts</span>

                            </section>
                            <section class="uik-nav-section__wrapper">
                                <span class="uik-nav-section-title__wrapper">Groups</span>

                            </section>
                            <section class="uik-nav-section__wrapper">
                                <span class="uik-nav-section-title__wrapper">More Contacts</span>

                            </section>
                        </div>-->


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
const app = new Vue({
            el: '#app',
            data: {
                product: null,
                cookieValue: document.cookie,
                welcome: 'Hello ${cookieValue}',
                profilePicture: "",
                names: ["Ian", "Chayla", "Olivia", "Phoebe"],
                posts: []
            },
    created() {
        fetch('https://wayaheadapi.azurewebsites.net/search?id=' + document.cookie)
                    .then(response => response.json())
                    .then(json => {
                        this.product = json
                        if (profilePicture.length > 5) {
                            alert(product.users[0].profile_picture)
                            profilePicture = product.users[0].profile_picture
                        } else {
                            alert(product.users[0].profile_picture)
                            profilePicture = './static/media/DefaultProfilePicture.png'
                        }
                    })
        fetch('https://wayaheadapi.azurewebsites.net/post')
            .then(response => response.json())
            .then(json => {
                this.posts = json.post
            })
            }
})
        </script>
    </body>
    </html>
