﻿
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Signin | Agile - Bootstrap 4 Web Application</title>
    <meta name="description" content="Responsive, Bootstrap, BS4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- style -->
    <!-- build:css ../assets/css/site.min.css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- endbuild -->
</head>
<body class="layout-column">


    <div class="d-flex flex-column flex" id="app">


        <div>
            <div class="p-3 p-md-5">
                <div class="card p-0 col-lg-8 offset-lg-2">
                    <div class="row no-gutters">
                        <div class="col-md-6  r-l" style="">
                            <div class="p-4 d-flex flex-column h-100">
                                <h1 class="mb-3 text-black">wayahead</h1>
                                <div class="d-flex flex align-items-center justify-content-center">
                                    <div class="animate fadeIn">
                                        <img src="~/assets/wayaheadicon.png" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="content-body">
                            <div class="p-4">
                                <h5>Welcome back</h5>
                                <p>
                                    <small class="text-muted">Login to manage your account</small>
                                </p>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input v-model="email" type="email" class="form-control" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input v-model="password" type="password" class="form-control" placeholder="Password">
                                    <div class="my-3 text-right"><a href="forgot-password.html" class="text-muted">Forgot password?</a></div>
                                </div>
                                <button type="submit" v-on:click="login" class="btn btn-primary mb-4">Sign in</button>
                                <div>Do not have an account? <a class="text-primary">Sign up</a></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script>
const app = new Vue({
        el: '#app',
    data: {
        email: null,
        password: null,
        info: null,
        },
    methods: {
        login: function (event) {
            axios
                .post("https://wayaheadapi.azurewebsites.net/login", null, {
                    params: {
                        email: this.email,
                        password: this.password
                    }
                })
                .then(response => (this.info = response))
                .then(json => {
                    this.info = json.data
                    document.cookie = this.info.user.user_id
                    window.location.href = "Feed/Feed";
                })
        }
    },
    })</script>


    <!-- build:js ../assets/js/site.min.js -->
    <!-- jQuery -->
    <script src="../libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ajax page -->
    <script src="../libs/pace-progress/pace.min.js"></script>
    <script src="../libs/pjax/pjax.js"></script>
    <script src="../assets/js/ajax.js"></script>
    <!-- lazyload plugin -->
    <script src="../assets/js/lazyload.config.js"></script>
    <script src="../assets/js/lazyload.js"></script>
    <script src="../assets/js/plugin.js"></script>
    <!-- theme -->
    <script src="../assets/js/theme.js"></script>
    <!-- endbuild -->
</body>
</html>


