﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - wayahead_web_mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div class="uik-Navigator__wrapper">
        <div class="uik-Navigator__list">
            <a class="uik-nav-link__wrapper uik-nav-link__wrapperDark" href="/">
                <span class="uik-nav-link__text">
                    <span class="uik-nav-link__icon">
                        <i class="uikon">gallery_grid_view</i>
                    </span>Screen Previews
                </span>
            </a><a class="uik-nav-link__wrapper
              uik-nav-link__wrapperDark" href="/docs">
                <span class="uik-nav-link__text">
                    <span class="uik-nav-link__icon"><i class="uikon">rocket</i></span>Getting Started
                </span>
            </a><a class="uik-nav-link__wrapper uik-nav-link__wrapperDark" href="/docs/react">
                <span class="uik-nav-link__text">
                    <span class="uik-nav-link__icon"><i class="uikon">help</i></span>React
                    Docs
                </span>
            </a><a class="uik-nav-link__wrapper uik-nav-link__wrapperDark" href="/docs/changelog">
                <span class="uik-nav-link__text">
                    <span class="uik-nav-link__icon">
                        <i class="uikon">multitasking</i>
                    </span>Changelog
                </span>
            </a><a class="uik-nav-link__wrapper
              uik-nav-link__wrapperDark" href="/docs/support">
                <span class="uik-nav-link__text">
                    <span class="uik-nav-link__icon"><i class="uikon">lightbulb</i></span>Support
                </span>
            </a><a class="uik-nav-link__wrapper uik-nav-link__wrapperDark active"
                   href="https://janlosert.com/store/dashboard-ui-kit-3.html?from=docs">
                <span class="uik-nav-link__text">
                    <span class="uik-nav-link__icon"><i class="uikon">love</i></span>Download
                    kit
                </span>
            </a>
        </div>
    </div>
    <div class="uik-container-v__container">
        <div class="uik-top-bar__wrapper">
            <div class="uik-top-bar-section__wrapper">
                <h2 class="uik-top-bar-title__wrapper"><img src="../assets/wayaheadicon.png" height="30" style="padding-right:10px;" /> {{" " + product.users[0].first_name + " " + product.users[0].last_name}}</h2>
                <div class="uik-nav-divider__wrapper"></div>
                <div class="uik-input__clear">
                    <div class="uik-input__inputWrapper">
                        <span class="uik-input__iconWrapper">
                            <i class="uikon">search_left</i>
                        </span><input type="text" class="uik-input__input"
                                      placeholder="Search...">
                    </div>
                </div>
            </div>
            <div class="uik-top-bar-section__wrapper">
                <div style="position:relative;display:inline-block">
                    <div class="uik-social-header-user__wrapper">
                        <div class="uik-avatar__wrapper">
                            <div class="uik-avatar__avatarWrapper">
                                <img class="uik-avatar__avatar" v-bind:src="product.users[0].profile_picture">
                            </div>
                        </div>
                        <i class="uikon uik-social-header-user__dropdownArrow">arrow_dropdown</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="uik-tab__container uik-socialio__mobileNavigation">
            <span class="uik-tab__item
              uik-socialio__mobileItem uik-tab__smaller"><i class="uikon">gallery_grid_view</i></span><span class="uik-tab__item uik-socialio__mobileItem active uik-tab__smaller">
                <i class="uikon">home</i>
            </span><span class="uik-tab__item uik-socialio__mobileItem uik-tab__smaller">
                <i class="uikon">message</i>
            </span>
        </div>
        <div class="uik-container-h__wrapper uik-socialio__contentContainer uik-socialio__Home">
            <div class="uik-nav-panel__wrapper">
                <section class="uik-nav-section__wrapper">
                    <span class="uik-nav-section-title__wrapper">Menu</span><a class="uik-nav-link__wrapper
                uik-nav-link__highlighted active" aria-current="page" text="Home" href="/social">
                        <span class="uik-nav-link__text">Home</span>
                    </a>
                    <a class="uik-nav-link__wrapper uik-nav-link__highlighted"
                       text="My Profile" href="/social/discussion"><span class="uik-nav-link__text">My Profile</span></a>
                    <a class="uik-nav-link__wrapper uik-nav-link__highlighted" text="My Assignments" href="/social/friends">
                        <span class="uik-nav-link__text">My Assignments</span>
                    </a><a class="uik-nav-link__wrapper uik-nav-link__highlighted"
                           text="Messages" href="/social/events">
                        <span class="uik-nav-link__text">Messages</span><span class="uik-nav-link__rightEl"><span>8</span></span>
                    </a>
                </section>
            </div>
            @RenderBody()

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script>
                const app = new Vue({
                    el: '#app',
                    data: {
                        product: null,
                    },
                    created() {
                        fetch('https://wayaheadapi.azurewebsites.net/search?id=' + document.cookie)
                            .then(response => response.json())
                            .then(json => {
                                this.product = json
                                if (profilePicture.length > 5) {
                                    alert(product.users[0].profile_picture)
                                    profilePicture = product.users[0].profile_picture
                                } else {
                                    alert(product.users[0].profile_picture)
                                    profilePicture = './static/media/DefaultProfilePicture.png'
                                }
                            })
                    }
                })
            </script>
            @RenderSection("Scripts", required: false)
</body>
</html>
